proj/vendor
proj/.vscode
proj/backend/config/main-local.php
proj/common/config/codeception-local.php
proj/common/config/main-local.php
proj/frontend/config/main-local.php
proj/composer.lock
proj/.idea
